<h2>All Heroines</h2>
<h3> <%= link_to "Create New Heroine", new_heroine_path %> </h3>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine %>
    </li>
    <br>
  <% end %>
</ul>
