<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <img src="https://vignette.wikia.nocookie.net/marveldatabase/images/a/a7/Marvel_Logo.png/revision/latest?cb=20090803161748">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
